.links-botton-card > a {
    color: #c5c5c5;
    font-size: small;
}

body {
    background-color: #c5c5c5;
    margin: 0, 10%, 0, 10%;
}

#cruisine-tag > p {
    display: inline-block;
}

.card-image-img {
    width: 100%;
    height: 14vw;
    object-fit: cover;
}