/********** NavBar css *******/

.nav-wrapper {
    background-color: #f5f8fa;
    color: #32475b;
    border-bottom: 1px solid #32475b;
}

.nav-wrapper > li {
    color: #32475b;
}

/********** Cards css *******/

.links-botton-card > a {
    color: #c5c5c5;
    font-size: small;
}

.recipes-list {
    margin-top: 20%;

}

#cruisine-tag > p {
    display: inline-block;
}

.card-image-img {
    width: 100%;
    height: 14vw;
    object-fit: cover;
}

/* Forms Colors */

 /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }