<!DOCTYPE html>
<html>
    <head>
    <!--Import Google Icon Font-->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
          <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"  media="screen,projection"/>
    <!--custom css-->
          <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    </head>
    
    <body>
        <h1>Outside!</h1>
        {% block content %}
        {% endblock %}
        
   <!--JavaScript components-->   
       <!--Category selector: Add_recipe page-->  
        <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var elems = document.querySelectorAll('select');
                    var instances = M.FormSelect.init(elems);
                });
        </script> 
         
        
    <!--JavaScript at end of body for optimized loading-->
          <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>