<!DOCTYPE html>
<html>
    <head>
    <!--Import Google Icon Font-->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
          <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"  media="screen,projection"/>
    <!--custom css-->
          <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" type="text/css" />
    <!--Favicon --> 
           <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" sizes="16x16 32x32" type="image/png">
           
           <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body>
    <!--NavBar-->      
      <div class="navbar-fixed">
        <nav class="nav-extended name="viewport" content="width=device-width, initial-scale=1.0">
              <div class="nav-wrapper">
                  <a href="{{url_for('get_recipes')}}" class="brand-logo"><img src="{{ url_for('static', filename='easyfood.png') }}"></img></a>
                  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons menu-nav-icon">menu</i></a>
                  <ul class="right hide-on-med-and-down">
                      <li><a href="{{url_for('get_recipes')}}">Home</a></li>
                      <li><a href="{{url_for('categories')}}">Manage Cusines</a></li>
                      <li><a href="{{url_for('charts')}}">Charts</a></li>
                      <li><a href="{{url_for('add_recipe')}}" class="button-nav btn">New recipe</a></li>
                  </ul>
              </div>
        </nav>
       </div> 
              <ul class="sidenav" id="mobile-demo">
                  <li><a href="{{url_for('get_recipes')}}">Home</a></li>
                  <li><a href="{{url_for('add_recipe')}}">New recipe</a></li>
                  <li><a href="{{url_for('categories')}}">Manage Categories</a></li>
                  <li><a href="{{url_for('charts')}}">Charts</a></li>
              </ul>
          
     
   <!--Main banner-->  
      <section class="banner"></section>
    
   <!--Flask Block content-->    
        {% block content %}
        {% endblock %}
        
      
   <!--ChartsJs-->  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
        
   <!--JavaScript components-->   
        <script>
          // Category selector: Add_recipe page 
                document.addEventListener('DOMContentLoaded', function() {
                    var elems = document.querySelectorAll('select');
                    var instances = M.FormSelect.init(elems);
                });
                
          // Navbar: Base page.      
                document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems);
                });
        </script> 
         
        
    <!--JavaScript at end of body for optimized loading-->
          <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>