<!DOCTYPE html>
<html>
    <head>
    <!--Import Google Icon Font-->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
          <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    </head>
    
    <body>
        <h1>Outside!</h1>
        {% block recipes %}
        {% endblock %}
        
        
    <!--JavaScript at end of body for optimized loading-->
          <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
</html>