{% extends 'base.html'%} {% block content %}

<div class="container">
  <div class="row">
    <h3>Cuisines</h3><p>In this section you can modified the cuisines types that will help you categorize your recipes.</p>
     <ul class="collection with-header">
        
        
     {% for category in categories %}
        <li class="collection-item">
            <div class="links-botton-card"><strong>{{category.category_name}}</strong>
                <a class="edit-item-link" href="{{url_for('edit_category', category_id=category._id)}}"> - Edit ✎</a> 
                <a class="delete-item-link" href="{{url_for('delete_category', category_id=category._id)}}" onclick="return confirm('Are you sure?')"> Delete ✗</a>
             </div>
        </li>
     
     {% endfor %}
      </ul>
   </div>
   
   <div class="row">
    <a href="{{url_for('add_category')}}" class="waves-effect waves-light btn">
        <i class="material-icons right">playlist_add</i>Add Category
    </a>
</div>

</div>



{% endblock %}