{% extends 'base.html' %} {% block content %}

<!--ChartsJs script-->  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
      
<!--Chart HTML structure-->  

<div class="container">
  <div class="row">
    <h3>Recipes Charts</h3><p>Below you can see your recipes data by cuisine.</p>
     <div id="my-data" category_names={{results.labels|join(',')}} category_counts={{results.data|join(',')}} > 
  </div>
  <div class="chart-container" style="position: relative; height:30vh; width:100%">
    <canvas id="myChart" width="600" height="300"></canvas>
  </div>
</div> 

<!--ChartsJs Graphs Script--> 
<script>
var labels = document.getElementById('my-data').getAttribute('category_names');
labels = labels.replace("[","").replace("]","").split(",");
var data = document.getElementById('my-data').getAttribute('category_counts');
data = data.replace("[","").replace("]","").split(",");
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: '# of Recepies by Cuisine',
            data: data,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

{% endblock %}