{% extends 'base.html' %} {% block content %}


    <div class="row">
        <div class="col s12 m12 l8 offset-l2 margin-bottom-4vh">
            <div class="card card-single-recipe">
            {% for recipe in recipes %}
                    <div class="card-content">
                        <span><a href="{{url_for('recipe_single', recipe_id=recipe._id)}}"
                                        class="recipe-title-text card-title-recipep">{{recipe.recipe_name}}</a></span>  
                        <div class="icon-cook-div"><i class="icon-cook material-icons prefix">timer</i><p class="descript">Preparation Time: {{recipe.preparation_time}}</p></div>
                        <li class="divider"></li>
                        <br>
                        <p>{{recipe.recipe_intro}}</p><br>                        
                    </div>
                    
                    <div class="card-image responsive-img">
                       <img class="responsive-img" src="{{recipe.photo_url}}"></img>
                    </div>
                    
                    <div>
                      <div class="card-content ingredients-box">
                           <strong>Ingredients: </strong>
                           <li class="divider"></li>
                           <br>
                           <p> {{recipe.ingredients}} </p> 
                      </div> 
                    </div>
                    
                    <div class="card-content">
                         <strong>How to Make it: </strong>
                         <li class="divider"></li>
                         <br> 
                         <p>{{recipe.description}}</p>                       
                    </div>
                    
                    <div class="card-content red lighten-5 links-botton-card">
                        <a class="edit-item-link" href="{{url_for('edit_recipe', recipe_id=recipe._id)}}">Edit ✎</a> <a class="delete-item-link"href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" onclick="return confirm('Are you sure?')">Delete ✗</a>
                    </div>
                   
            {% endfor %}
        </div>
    </div>
  </div>


{% endblock %}