{% extends 'base.html' %}
{% block content %}
<div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image">
                  <img class="card-image-img" src="{{recipe.photo_url}}">
                </div>
                
                <div class="card-content">
                  <span class="card-title">{{recipe.recipe_name}}</span>
                  <p class="descript">{{recipe.description}}</p>
                </div>
                
                <div class="card-content red lighten-5 links-botton-card">
                  <div id="cruisine-tag"><p>Cruisine:</p><p id="category">{{recipe.category_name}}</p></div>
                  <a class="edit-item-link" href="{{url_for('edit_recipe', recipe_id=recipe._id)}}">Edit</a> <a class="delete-item-link"href="{{url_for('delete_recipe', recipe_id=recipe._id)}}">Delete</a>
                </div>
                
              </div>
            </div>
    {% endfor %}
</div>
    
{% endblock %}